<launch>
<arg name="robot_name"/>
<arg name="init_pose"/>

<param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find multi_robot_description)/robots/ur11_base.urdf.xacro "/>

<!-- <node name="urdf_spawner2" pkg="gazebo_ros" type="spawn_model" args="-x -2 -y 0 -z 0 -pause -urdf -model robot2 -param robot_description2" respawn="false" output="screen" /> -->

<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
args="$(arg init_pose) -pause -urdf -model $(arg robot_name) -param robot_description" respawn="false" output="screen" />


<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
</node>

</launch>

